.column1 {
  margin-top: 3em; 
   
}
.column1 article > h2 {
  text-align: start;
  
}
.photo-perfil {
  margin-bottom: 2em;
}
.imagen {
  width: 30vh;
  height: 30vh;
  
  
}
.center{
  display: flex;
  justify-content: center;
}
.column1 > article{
  margin-top: 0;
}
.column2{
  margin-top: 3em;
}

.column2 > section {
  /* display: grid;
  align-items: center; */
}
.column2 > section h2 {
  text-align: center;
  background-color: rgba(10, 92, 95, 0.795);
  color: #fff;
}
footer {
  background-color: rgb(66, 62, 58);
  grid-area: 2/1 / 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > p {
  color: #fff;
  text-align: center;
}

p{
  text-align: justify;
}