
.column1 {
  margin-top: 3em; 
   
}
.column1 article > h2 {
  text-align: start;
  
}
.photo-perfil {
  margin-bottom: 2em;
}
.imagen {
  width: 10em;
  height: 10em;
}
.center{
  display: flex;
  justify-content: center;
}
.column1 > article{
  margin-top: 0;
}
.column2{
  margin-top: 3em;
}

.column2 > section h3 {
  text-align: center;
  background-color: rgba(10, 92, 95, 0.795);
  color: #fff;
  margin-bottom: 1em;
}

footer > p {
  color: #fff;
  text-align: center;
}
footer{
  height: 2em;
  background-color: rgba(92, 99, 96, 0.671);
}

p{
  text-align: justify;
}
